body{
   text-align: center;
}

.add-user {
   display: flex;
   justify-content: space-between;
   width:50vw;
}

.box1 {
   height: 100px;
   width: 100px;
   background-color: purple;
   opacity: 50%;
   border: 2px solid black;
}

.box2 {
   height: 100px;
   width: 100px;
   background-color: green;
   opacity: 50%;
   border: 2px solid black;
}
.box3 {
   height: 100px;
   width: 100px;
   background-color: aqua;
   opacity: 50%;
   border: 2px solid black;
}
