/* The CSS box-sizing property 
allows us to include the padding and border in an element's total width and height. */
* {
   box-sizing: border-box;
}

html {
   font-family: sans-serif;
   background-color: #1f1f1f;
}

body {
   margin: 0;
}
